:host {
  display: grid;
  grid-template-columns: 32px 1fr;
  grid-gap: 16px;
  max-height: 250px;
}

.comment-body {
  display: grid;
  grid-gap: 8px;
}

.comment-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--light-transparent-color);
}

.comment-text {
  max-width: 290px;
}
