<form class="profile-search-form" [formGroup]="searchForm">
  <label class="tt-form-label">
    <span class="tt-form-label-text">Имя</span>
    <input
      formControlName="firstName"
      type="text"
      class="tt-form-input"
      placeholder="Введите данные"
    />
  </label>

  <label class="tt-form-label">
    <span class="tt-form-label-text">Фамилия</span>
    <input
      formControlName="lastName"
      type="text"
      class="tt-form-input"
      placeholder="Введите данные"
    />
  </label>
  <label class="tt-form-label">
    <span class="tt-form-label-text">Навыки</span>
    <input
      formControlName="stack"
      type="text"
      class="tt-form-input"
      placeholder="Введите данные"
    />
  </label>

  <label class="tt-form-label">
    <span class="tt-form-label-text">Город</span>
    <input
      formControlName="city"
      type="text"
      class="tt-form-input"
      placeholder="Введите данные"
    />
  </label>
</form>
