@if (profile$ | async; as profile) {
<header class="profile-page__header">
  <app-profile-header [profile]="profile"></app-profile-header>

  @if(isMyPage()){
  <a class="btn to-settings-btn" [routerLink]="['/settings']">
    Редактировать
    <svg class="to-settings-icon" icon="settings"></svg>
  </a>
  } @else {
  <button (click)="sendMessage(profile.id)" class="btn to-settings-btn">
    Написать
    <svg class="to-settings-icon" icon="sendMessage"></svg>
  </button>
  }
</header>

<main class="profile-page__body">
  <app-post-feed></app-post-feed>
  <div>
    <div class="subscribers_header">
      <h3 class="h6 mb16">Подписчики</h3>
      <div class="subscribers_header__count">
        {{ profile.subscribersAmount }}
      </div>
    </div>
    <div class="subscribers-wrapper mb32">
      @for (subscriber of subscribers$ | async; track subscriber.id) {
      <a
        [routerLink]="['/profile', subscriber.id]"
        class="subscriber-avatar-btn"
      >
        <img
          class="subscriber-avatar-icon"
          [src]="subscriber.avatarUrl | imgUrl"
          alt="avatar"
        />
      </a>
      }
      <a [routerLink]="['/search']" class="subscribers-search">
        <svg class="subscribers-search-icon" icon="plus"></svg>
      </a>
    </div>

    <div>
      <h3 class="h6 mb16">Навыки</h3>
      @if (profile.stack.length > 0) {
      <div class="stack-wrapper">
        @for (skill of profile.stack; track skill) {
        <div class="skill_tag">{{ skill }}</div>
        }
      </div>
      } @else {
      <p class="medium-text mb16 ml8">Пока их нет</p>
      }

      <div class="mt16">
        <h3 class="h6 mb16">О себе</h3>
        <p class="medium-text ml8">
          {{ profile.description ? profile.description : "Здесь пусто" }}
        </p>
      </div>
    </div>
  </div>
</main>
}
